<!-- @if(title){
  <header class="d-flex align-items-center justify-content-between  mb-24-px">
    <h3 class="font-weight-600 mb-0">{{title}}</h3>
  </header>
}

<div [class]="parentClass || 'row'" [class.mx-0]="isMarginReset">
  @defer (on viewport; when isLoading) {
    @for (item of list; track item.id; let i = $index) {
      <ng-template
        *ngTemplateOutlet="
          listItem;
          context: { item: item, index: i}
        "
    ></ng-template>
    } @empty {
      <app-spinner-loading color="#EB7E96"></app-spinner-loading>
    }
  } @placeholder {
    <div class="d-flex align-items-center justify-content-center">
      <app-spinner-loading color="#EB7E96"></app-spinner-loading>
    </div>
  }
</div>
@if(showLoadMore){
  <div class="load-more-section d-flex align-items-center justify-content-center">
    <button class="main-btn main-btn-primary px-32-px py-8-px"
      [disabled]="isLoadMoreLoading"
      (click)="loadMore.emit()">
      <span class="d-flex align-items-center justify-content-center">
        @if(isLoading){
          <app-spinner-loading color="#EB7E96"></app-spinner-loading>
          <span class="mx-1"></span>
        } @else {
          <span>Load More</span>
        }
      </span>
    </button>
  </div>
} -->
