:host{ 
  .info{
    h1{
      color: #5d5d5d;
      font-size: 44px;
      font-weight: bold;
    }
    p{
      margin: 0;
      line-height: 1.6;
      font-size: 15px;
      color: #5d5d5d;
    }
  }
  .image {
    img {
     max-width: 100%;
    }
  }
}
