
<div class="container">
  <div class="row py-5 align-items-center">
    <div class="col-lg-6 col-md-6 info">
      <h1>Looking For User</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
      <button class="rounded-pill mt-3 px-5" mat-flat-button color="primary" routerLink="./users">Users</button>
    </div>
    <div class="col-lg-6 col-md-6 image">
      <img ngSrc="assets/images/home-page-image.webp" alt="home" width="1026" height="800" priority>
    </div>
  </div>
</div>
